@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;

  --light: #F9F9F9;
  --blue: #3C91E6;
  --dark-blue: #79bcff;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #474249;
  --red: #DB504A;
  --red-light: #ff8c88;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  cursor: pointer;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}


#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background-color: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar .hide {
  width: 60px;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li span {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}


#sidebar .side-menu.top li.active span {
  color: var(--blue);
}


#sidebar.hide .side-menu li span {
  width: calc(48px - (4px * 2));
  transition: width .3s ease;
}

#sidebar .side-menu li span.logout {
  color: var(--red);
}


#sidebar .side-menu.top li span:hover {
  color: var(--blue);
}


#sidebar .side-menu li span .bx {
  display: flex;
  justify-content: center;
  min-width: calc(60px - ((4px + 6px) * 2));
}

#sidebar.hide~#content {
  width: calc(100% - 60px);
  left: 60px;
}

#content {
  left: 280px;
  transition: .3s ease;
}

#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}


#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}

#content nav .nav-link:hover {
  color: var(--blue);
}

/* icon search start*/
.bx-search {
  color: var(--dark);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
  font-family: var(--poppins);
}


#content nav form .form-input span {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

/* icon search end*/

#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

input::placeholder {
  font-family: var(--poppins);
}

/* caracter */
.caracter {
  font-size: 13px;
  color: var(--blue);
  float: right;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

.form-group-input input,
.form-group-input textarea {
  padding: 0.5rem 1rem;
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
  position: relative;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.75rem;
  outline: none;
}

.btn-submit {
  border: none;
  outline: none;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: var(--dark-blue);
  color: var(--dark);
}

.form-group-input textarea {
  resize: vertical;
}

.action {
  display: flex;
  gap: 1rem;
  margin-top: 8px;
}

.deleted {
  border: none;
  outline: none;
  background-color: var(--red);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.deleted:hover {
  background-color: var(--red-light);
  color: var(--dark);
}

.arsip:hover {
  background-color: var(--dark-blue);
  color: var(--dark);
}

.arsip {
  border: none;
  outline: none;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.arsipt:hover {
  background-color: var(--dark-blue);
  color: var(--dark);
}

.arsipt {
  border: none;
  outline: none;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}


/* dashboard area */
.date-text {
  color: var(--dark-grey);
  font-size: 13px;
}

.notes-item-body {
  font-size: 15px;
  color: var(--dark);
}

.todo {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
}

.heads {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  color: var(--blue);
}

.notes-item {
  margin-top: 20px;
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
}

#content main .table-data .head {
  align-items: center;
  grid-gap: 16px;
  color: var(--blue);
}

#content main .table-data .head .heads h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

#content main .table-data .order {
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
  grid-gap: 20px 40px;
}

/* empty message */
.empty-message {
  color: var(--dark-grey);
  text-align: center;
  margin-top: 30px;
}

/* media query */
@media screen and (max-width: 768px) {
  .grid {
    display: inline;
  }
}

@media screen and (max-width: 576px) {
  .grid {
    display: inline;
  }
}

/* 
add messgae */

.succes-message {
  position: fixed;
  font-family: var(--poppins);
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  z-index: 100;
  background-color: var(--blue);
  transition: 0.5s;
}